USE [master]
GO
/****** Object:  Database [WEBBANHANG]    Script Date: 12/6/2019 10:56:40 PM ******/
CREATE DATABASE [WEBBANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WEBBANHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WEBBANHANG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WEBBANHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WEBBANHANG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WEBBANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WEBBANHANG]
GO
/****** Object:  Table [dbo].[BAOHANH]    Script Date: 12/6/2019 10:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOHANH](
	[TKKHACHHANG] [nvarchar](30) NOT NULL,
	[MSSP] [numeric](18, 0) NOT NULL,
	[TKNVBH] [nvarchar](30) NOT NULL,
	[THOIDIEMMUA] [datetime] NOT NULL,
	[LANBAOHANH] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DIACHIBAOHANH] [nvarchar](200) NOT NULL,
	[SDT] [nvarchar](15) NOT NULL,
	[THOIDIEMBAOHANH] [date] NOT NULL,
	[MOTA] [nvarchar](200) NOT NULL,
	[TRANGTHAI] [nvarchar](20) NOT NULL,
 CONSTRAINT [BAOHANH_PRIMARYKEY] PRIMARY KEY CLUSTERED 
(
	[TKKHACHHANG] ASC,
	[MSSP] ASC,
	[THOIDIEMMUA] ASC,
	[LANBAOHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUAHANG]    Script Date: 12/6/2019 10:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUAHANG](
	[TKKHACHHANG] [nvarchar](30) NOT NULL,
	[MSSP] [numeric](18, 0) NOT NULL,
	[TKNVGH] [nvarchar](30) NOT NULL,
	[THOIDIEMMUA] [datetime] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DIACHIGIAOHANG] [nvarchar](200) NOT NULL,
	[SDT] [nvarchar](15) NOT NULL,
	[THOIDIEMGIAOHANG] [datetime] NOT NULL,
	[THOIHANBAOHANH] [date] NULL,
	[TRANGTHAI] [nvarchar](20) NOT NULL,
 CONSTRAINT [MUAHANG_PRIMARYKEY] PRIMARY KEY CLUSTERED 
(
	[TKKHACHHANG] ASC,
	[MSSP] ASC,
	[THOIDIEMMUA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 12/6/2019 10:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[TENTAIKHOAN] [nvarchar](30) NOT NULL,
	[MATKHAU] [nvarchar](30) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[SDT] [nvarchar](15) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[CMND] [nvarchar](9) NOT NULL,
	[NGAYTAO] [date] NOT NULL,
	[LOAI] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TENTAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/6/2019 10:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MSSP] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TENSANPHAM] [nvarchar](50) NOT NULL,
	[LOAI] [nvarchar](20) NOT NULL,
	[GIA] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[NGAYSX] [date] NULL,
	[HANG] [nvarchar](20) NULL,
	[QUOCGIA] [nvarchar](20) NULL,
	[MOTA] [nvarchar](200) NULL,
	[ANH] [nchar](50) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MSSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUASP]    Script Date: 12/6/2019 10:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUASP](
	[TKQUANTRIVIEN] [nvarchar](30) NOT NULL,
	[MSSP] [numeric](18, 0) NOT NULL,
	[THOIDIEMSUA] [datetime] NOT NULL,
	[TENSANPHAM] [nvarchar](50) NOT NULL,
	[LOAI] [nvarchar](20) NOT NULL,
	[GIA] [int] NOT NULL,
	[SOSPTHEM] [int] NOT NULL,
	[NGAYSX] [date] NULL,
	[HANG] [nvarchar](20) NULL,
	[QUOCGIA] [nvarchar](20) NULL,
	[MOTA] [nvarchar](200) NULL,
 CONSTRAINT [SUASP_PRIMARYKEY] PRIMARY KEY CLUSTERED 
(
	[TKQUANTRIVIEN] ASC,
	[MSSP] ASC,
	[THOIDIEMSUA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THEMSP]    Script Date: 12/6/2019 10:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THEMSP](
	[TKQUANTRIVIEN] [nvarchar](30) NOT NULL,
	[MSSP] [nvarchar](20) NOT NULL,
	[THOIDIEMTHEM] [datetime] NOT NULL,
	[TENSANPHAM] [nvarchar](50) NOT NULL,
	[LOAI] [nvarchar](20) NOT NULL,
	[GIA] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[NGAYSX] [date] NULL,
	[HANG] [nvarchar](20) NULL,
	[QUOCGIA] [nvarchar](20) NULL,
	[MOTA] [nvarchar](200) NULL,
 CONSTRAINT [THEMSP_PRIMARYKEY] PRIMARY KEY CLUSTERED 
(
	[MSSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NGUOIDUNG] ([TENTAIKHOAN], [MATKHAU], [HOTEN], [NGAYSINH], [DIACHI], [SDT], [EMAIL], [CMND], [NGAYTAO], [LOAI]) VALUES (N'123321', N'123321', N'Hct', CAST(N'2019-12-04' AS Date), N'123', N'0123456789', N'a', N'a', CAST(N'2019-12-04' AS Date), N'Khách hàng')
INSERT [dbo].[NGUOIDUNG] ([TENTAIKHOAN], [MATKHAU], [HOTEN], [NGAYSINH], [DIACHI], [SDT], [EMAIL], [CMND], [NGAYTAO], [LOAI]) VALUES (N'abc', N'xyz', N'Le Lai', CAST(N'2019-12-04' AS Date), N'BN', N'123456789', N'noemail', N'123456789', CAST(N'2019-12-04' AS Date), N'Khách hàng')
INSERT [dbo].[NGUOIDUNG] ([TENTAIKHOAN], [MATKHAU], [HOTEN], [NGAYSINH], [DIACHI], [SDT], [EMAIL], [CMND], [NGAYTAO], [LOAI]) VALUES (N'Hasagi', N'THEWIND', N'Yasuo', CAST(N'2019-12-02' AS Date), N'BN', N'0123456789', N'sdf', N'123456', CAST(N'2019-12-04' AS Date), N'Khách hàng')
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MSSP], [TENSANPHAM], [LOAI], [GIA], [SOLUONG], [NGAYSX], [HANG], [QUOCGIA], [MOTA], [ANH]) VALUES (CAST(4 AS Numeric(18, 0)), N'Áo phông', N'Áo cộc', 15000, 1000, NULL, NULL, NULL, N'Áo phông chất lượng cao, mặc vào ấm hết người', N'ba.jpg                                            ')
INSERT [dbo].[SANPHAM] ([MSSP], [TENSANPHAM], [LOAI], [GIA], [SOLUONG], [NGAYSX], [HANG], [QUOCGIA], [MOTA], [ANH]) VALUES (CAST(5 AS Numeric(18, 0)), N'Quần dài', N'Quần', 200000, 500, NULL, NULL, N'Việt Nam', N'Quần chính hãng', NULL)
INSERT [dbo].[SANPHAM] ([MSSP], [TENSANPHAM], [LOAI], [GIA], [SOLUONG], [NGAYSX], [HANG], [QUOCGIA], [MOTA], [ANH]) VALUES (CAST(6 AS Numeric(18, 0)), N'Áo ... ', N'Áo cộc', 90000, 5000, NULL, NULL, NULL, N'Áo', N'baa.jpg                                           ')
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD  CONSTRAINT [BAOHANH_MSSP] FOREIGN KEY([MSSP])
REFERENCES [dbo].[SANPHAM] ([MSSP])
GO
ALTER TABLE [dbo].[BAOHANH] CHECK CONSTRAINT [BAOHANH_MSSP]
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD  CONSTRAINT [BAOHANH_MUAHANG] FOREIGN KEY([TKKHACHHANG], [MSSP], [THOIDIEMMUA])
REFERENCES [dbo].[MUAHANG] ([TKKHACHHANG], [MSSP], [THOIDIEMMUA])
GO
ALTER TABLE [dbo].[BAOHANH] CHECK CONSTRAINT [BAOHANH_MUAHANG]
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD  CONSTRAINT [BAOHANH_TKKHACHHANG] FOREIGN KEY([TKKHACHHANG])
REFERENCES [dbo].[NGUOIDUNG] ([TENTAIKHOAN])
GO
ALTER TABLE [dbo].[BAOHANH] CHECK CONSTRAINT [BAOHANH_TKKHACHHANG]
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD  CONSTRAINT [BAOHANH_TKNVBH] FOREIGN KEY([TKNVBH])
REFERENCES [dbo].[NGUOIDUNG] ([TENTAIKHOAN])
GO
ALTER TABLE [dbo].[BAOHANH] CHECK CONSTRAINT [BAOHANH_TKNVBH]
GO
ALTER TABLE [dbo].[MUAHANG]  WITH CHECK ADD  CONSTRAINT [MUAHANG_KHACHHANG] FOREIGN KEY([TKKHACHHANG])
REFERENCES [dbo].[NGUOIDUNG] ([TENTAIKHOAN])
GO
ALTER TABLE [dbo].[MUAHANG] CHECK CONSTRAINT [MUAHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[MUAHANG]  WITH CHECK ADD  CONSTRAINT [MUAHANG_MSSP] FOREIGN KEY([MSSP])
REFERENCES [dbo].[SANPHAM] ([MSSP])
GO
ALTER TABLE [dbo].[MUAHANG] CHECK CONSTRAINT [MUAHANG_MSSP]
GO
ALTER TABLE [dbo].[MUAHANG]  WITH CHECK ADD  CONSTRAINT [MUAHANG_TKNVGH] FOREIGN KEY([TKNVGH])
REFERENCES [dbo].[NGUOIDUNG] ([TENTAIKHOAN])
GO
ALTER TABLE [dbo].[MUAHANG] CHECK CONSTRAINT [MUAHANG_TKNVGH]
GO
ALTER TABLE [dbo].[SUASP]  WITH CHECK ADD  CONSTRAINT [SUASP_MSSP] FOREIGN KEY([MSSP])
REFERENCES [dbo].[SANPHAM] ([MSSP])
GO
ALTER TABLE [dbo].[SUASP] CHECK CONSTRAINT [SUASP_MSSP]
GO
ALTER TABLE [dbo].[SUASP]  WITH CHECK ADD  CONSTRAINT [SUASP_TKQUANTRIVIEN] FOREIGN KEY([TKQUANTRIVIEN])
REFERENCES [dbo].[NGUOIDUNG] ([TENTAIKHOAN])
GO
ALTER TABLE [dbo].[SUASP] CHECK CONSTRAINT [SUASP_TKQUANTRIVIEN]
GO
ALTER TABLE [dbo].[THEMSP]  WITH CHECK ADD  CONSTRAINT [THEMSP_TKQUANTRIVIEN] FOREIGN KEY([TKQUANTRIVIEN])
REFERENCES [dbo].[NGUOIDUNG] ([TENTAIKHOAN])
GO
ALTER TABLE [dbo].[THEMSP] CHECK CONSTRAINT [THEMSP_TKQUANTRIVIEN]
GO
USE [master]
GO
